<section *ngIf="!loading">
	<div class="title">
		<img src="assets/icon-poke-red.svg" alt="pokeball red">
		<h4>{{dadosLista.count ? dadosLista.count : dadosPokemon.length}} Pokémons</h4>
	</div>

	<div class="conteudo">
		<div class="card" *ngFor="let pokemon of dadosPokemon; index as i">
			<div *ngIf="pokemon.hasOwnProperty('types')">
				<div class="imagem">
					<span class="type-pokemon-background-{{pokemon.types[0].type.name}}"></span>
					<img src="{{trataImagens(pokemon)}}" alt="{{pokemon.name}}">
				</div>

				<div class="dados">
					<p>#{{pokemon.id}}</p>

					<div>
						<h4>{{pokemon.name }}</h4>
						<img src="assets/tipos-pokemon-icon/{{pokemon.types[0].type.name}}.svg" alt="{{pokemon.types[0].type.name}}">
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<app-loading [loading]="loading"></app-loading>