@import "../../styles/base";

header {
	@include flex(space-between, center);
	@include position(absolute, $top: 35px, $left: 50%, $zIndex: 9999);
	width: 97%;
	background: transparent;
	transform: translate(-50%, 0);

	a {
		@include toRem(font-size, 13);
		color: $base-color;
	}
}
