<footer id="footer" class="banner-red">
	<div class="container">
		<div class="sobre-projeto">
			<h2>Angular v14</h2>
			<p>Consumindo e exibindo dados de uma API</p>
		</div>

		<div class="sobre-mim">
			<a href="https://www.linkedin.com/in/eduardo-borges-80139415a/" target="_blank">Eduardo Borges</a>
			<div class="sociais">
				<a href="https://www.linkedin.com/in/eduardo-borges-80139415a/" target="_blank"><img src="assets/redes-sociais/linkedin-cheio.png" alt="Linkedin"></a>
				<a href="https://www.instagram.com/edubrg_/" target="_blank"><img src="assets/redes-sociais/instagram.svg" alt="Linkedin">	</a>		
			</div>
		</div>
	</div>
</footer>