<a class="item" (click)="filtrarTipoPokemon('all', -1)" [ngClass]="{ 'bold-item': selecionado === -1 && !filtroInputAtivado}">
	<img src="/assets/tipos-pokemon-icon/icon-all.svg" alt="pokeball icone">
	<p class="type-pokemon-all">Todos</p>
</a>

<a *ngFor="let categoria of dados.results; let i = index" class="item" (click)="filtrarTipoPokemon(categoria.name, i)" [ngClass]="{ 'bold-item': i === selecionado && !filtroInputAtivado }">
	<img src="{{ categoria.urlImg }}" alt="{{categoria.name}} icone">
	<p class="type-pokemon-{{categoria.name}}">{{categoria.namePtbr}}</p>
</a>