<section id="banner" class="banner-red">
	<div class="container">
		<div class="descricao">
			<h6><span>🎒</span> pokedex</h6>
			<h1 class="title-red">Que pokemon é esse?</h1>
			<h1 class="title-blue">Pegue todos eles!</h1>
			<p>O guia perfeito para quem quer caçar Pokémons pelo mundo</p>
			<div class="pokeballs">
				<img src="assets/luzes.svg" alt="luzes-pokeball">
				<img class="pokeball-red" src="assets/img-pokeball-red.png" alt="pokeball red">
				<img class="pokeball-blue" src="assets/img-pokeball-blue.png" alt="pokeball blue">
			</div>
		</div>

		<div class="explorar">
			<p>Explorar</p>
			<div>
				<img src="assets/arrow-down.svg" alt="seta-para-baixo">
			</div>
		</div>

		<div class="paginacao">
			<span class="select-red"></span>
			<span class="select-blue"></span>
		</div>
	</div>
</section>

<app-search></app-search>

<section class="container">
	<div class="conteudo-index">
		<app-navegacao-lateral class="navegacao-lateral" [filtroLateralAtivado]="filtroNomeOuId"></app-navegacao-lateral>
		<app-conteudo-pesquisa class="conteudo-pesquisa"  (filtroNomeOuIdAtivado)="filtroNomeOuIdAtivado($event)"></app-conteudo-pesquisa>
	</div>
</section>

